//General
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Ubuntu, Poppins;
  background-color: var(--color-dark);
}
a {
  color: var(--font-color);
  text-decoration: none;
}
* {
  box-sizing: border-box;
  // scroll-snap-type: y mandatory;
}
b {
  font-family: Poppins-Bold;
  color: var(--color-primary);
  cursor: default;
  font-size: 1.1em;
}
h1 {
  color: var(--font-color);
  font-size: 2.5em;
}
h2,
h3,
h4,
p {
  color: var(--font-color);
  cursor: default;
}
//Landing Page
.hero {
  background-color: var(--color-dark);
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.social {
  margin: 0em 0.4em;
  font-size: 0.75em;

  @media (min-width: 768px) {
    font-size: 1em;
  }
}
.twitter:hover {
  color: var(--twitter);
}
.github:hover {
  color: var(--github);
}
.linkedin:hover {
  color: var(--linkedin);
}
.Typewriter__wrapper,
.Typewriter__cursor {
  color: var(--font-color);
}
//404
.PageNotFound {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.li {
  color: var(--color-primary);

  @media screen and (max-width: 450px) {
    font-size: 1em;
  }
}
//Nav
.nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    position: sticky;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    background-color: none;
    mix-blend-mode: exclusion;
  }

  h1 {
    justify-content: flex-start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.2em;
  }

  .menu {
    justify-content: flex-end;
    display: flex;
    margin-left: auto;
    margin-right: 20px;

    @media (min-width: 1024px) {
      margin-right: 3.5em;
    }

    span {
      color: var(--font-color);
      margin-left: 1em;
      margin-right: 1em;
    }
    a {
      font-size: 1em;
      cursor: pointer;
      border-bottom: solid 1px transparent;

      &:hover {
        border-bottom: solid 1px var(--color-third);
      }
    }
  }
}
.mobile-container {
  position: sticky;
  background-color: #e6e6e6;
  width: 100%;
  height: 80px;
  bottom: 0;
  z-index: 3;
  display: grid;
  grid-template-areas: '1fr 1fr 1fr';

  @media (min-width: 768px) {
    display: none;
  }

  .box {
    display: flex;
    flex-direction: column;
    color: var(--color-dark);
    align-items: center;
    justify-content: center;
    border-left: var(--color-dark) 1px solid;
    margin: 0em auto;
    padding: 0em 1.5em;

    a {
      color: var(--color-dark);
    }
  }
  .box.proj {
    border: none !important;
  }
}
//Projects
.projects {
  background-color: var(--color-dark);
  position: relative;
  height: fit-content;
  overflow: hidden;
  margin: 0em 0em 14em 0em;

  .proj-title {
    display: none;

    @media (min-width: 768px) {
      margin: 0.5em 0em 0em;
      position: absolute;
      font-size: 8em;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: var(--font-color);
      -webkit-text-stroke-width: 1px;
      letter-spacing: 3px;
      writing-mode: vertical-lr;
      cursor: default;
      display: unset;
    }
  }
  .watermark {
    font-size: 6.5em;
    margin: 0em;
    position: absolute;
    color: #202020;

    @media (min-width: 768px) {
      font-size: 9em;
      margin: 0em 0.3em;
    }
  }
  h3 {
    cursor: default;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--font-color);
    -webkit-text-stroke-width: 0.25px;
    font-size: 1.5em;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(13%);

    @media (min-width: 768px) {
      transform: translateX(20%);
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  z-index: 2;

  @media (min-width: 768px) {
    margin: 0em 0em 0em 7em;
  }
}

.card {
  display: flex;

  transform-style: preserve-3d;
  flex-direction: column-reverse;
  margin: 4em 0em;

  @media (min-width: 768px) {
    display: grid;
    grid-template-areas: 'side img';
  }

  .side-section {
    transition: 0.4s ease;
    position: relative;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 100px);
    transform-style: preserve-3d;
    z-index: 3;
    grid-area: side;

    h4 {
      color: var(--font-color);
      font-size: 1.5rem;
      margin: 1rem 3rem;
      cursor: default;
      grid-area: side;
    }
    p {
      font-size: 0.9em;
      letter-spacing: 1px;
      padding: 0.5rem 3rem;
      cursor: default;
      transform: translate3d(0, 0, 100px);
    }
    li {
      color: #e6e6e6;
      margin: 1em 0.5rem;
      list-style: none;
      cursor: default;

      &::before {
        content: '•';
        margin-right: 0.5rem;
        color: var(--color-third);
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      margin: 2rem 3rem;
      transform-style: preserve-3d;

      @media (min-width: 768px) {
        margin: 2rem 0rem 2rem 3rem;
      }

      .text-left {
        margin-right: 1.5em;
      }
      a {
        background-color: var(--font-color);
        color: var(--color-dark);
        border: solid 1px var(--font-color);
        border-radius: 6px;
        letter-spacing: normal;
        padding: 0.5rem 1rem;
        transform: translate3d(0, 0, 100px);
        transform-style: preserve-3d;

        &:hover {
          transition: 0.4s ease;
          transform: scale(1.1);
          color: var(--font-color);
          background: var(--color-dark);
          border: solid 1px var(--font-color);
        }
      }
    }
  }

  .image-container {
    background: none;
    position: relative;
    transition: 0.4s;
    animation: ease-in;
    border-radius: 8px;
    display: flex;
    transform-style: preserve-3d;
    z-index: 2;
    margin: 0em 3em;

    @media (min-width: 768px) {
      margin: auto 1em auto 0em;
    }
    @media (min-width: 1024px) {
      margin: auto 3em auto 16em;
    }

    img.card-image {
      height: 200px;
      display: flex;
      width: 200px;
      transform-style: preserve-3d;
      z-index: 2;

      @media (min-width: 768px) {
        height: 200px;
        width: 300px;
      }
      @media (min-width: 1024px) {
        height: 350px;
        width: 450px;
      }

      &:hover {
        transition: 0.4s ease;
        transform: scale(1.05);
      }
    }
  }
}
.graphic {
  position: absolute;
  right: 0em;
  bottom: -2em;
  height: 1em;
  width: 7em;

  @media (min-width: 768px) {
    right: 1em;
    width: 9em;
  }
}

//Contact
.contact {
  background-color: var(--color-dark);
  position: relative;
  height: fit-content;
  overflow: hidden;

  #path-1 path:nth-child(1) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(2) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(3) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(4) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(5) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(6) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(7) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(8) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(9) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(10) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(11) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(12) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(13) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(14) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(15) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(16) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(17) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(18) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(19) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(20) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(21) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(22) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(23) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(24) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(25) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(26) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(27) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(28) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(29) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(30) {
    stroke-dasharray: 100px;
  }
  #path-1 path:nth-child(31) {
    stroke-dasharray: 100px;
  }
  .contact-title {
    margin: 0em 1.5em;
    z-index: 3;
  }

  .contact-container {
    display: flex;
    z-index: 2;
    margin: 2em 1.5em;

    @media (min-width: 768px) {
      display: grid;
      grid-template-areas: 'logo form';
    }
  }
  span {
    grid-area: form;
    z-index: 3;
  }
  form {
    display: flex;
    flex-direction: column;
    grid-area: form;
    justify-content: flex-end;
    border-radius: 15%;
    z-index: 3;
  }
  .form-title {
    color: #ebebeb;
  }
  .form-group {
    transition: all 0.3s;
    cursor: default;

    &:focus-within {
      transform: scale(1.05, 1.05);
    }
  }
  .form-control {
    background: var(--color-dark);
    outline: none;
    resize: none;
    border: 2px var(--color-third) solid;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px var(--color-third) solid;
    margin-bottom: 1.8rem;
    color: var(--font-color);
    font-size: 1.2rem;
    transition: all 0.5s;
    width: 100%;

    &::placeholder {
      color: transparent;
    }
    &:focus {
      border-color: var(--color-primary);
    }
    &:focus + .form-label {
      transform: translateY(-4.5em) scale(0.8);
    }
    &:not(:placeholder-shown) + .form-label {
      transform: translateY(-4.5em) scale(0.8);
    }
    &:focus + .messaging {
      transform: translateY(-12.7em) scale(0.8);
    }
    &:not(:placeholder-shown) + .messaging {
      transform: translateY(-12.7em) scale(0.8);
    }
  }
  .btnSubmit {
    padding: 0.5rem 1em;
    width: fit-content;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--color-third);

    &:hover {
      background-color: var(--font-color);
    }
  }
  .disabled {
    background-color: var(--color-secondary);
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
    cursor: auto;
  }
  .thank {
    background-color: var(--color-third);
    border-radius: 4px;
  }
  .form-label {
    color: var(--font-color);
    display: block;
    position: absolute;
    transform: translateY(-3.4em);
    transform-origin: 0 0;
    margin-left: 0.5em;
    transition: all 0.3s;
    cursor: default;
  }
  .messaging {
    color: var(--font-color);
    display: block;
    position: absolute;
    transform: translateY(-11.8em);
    margin-left: 0.5em;
    transform-origin: 0 0;
    transition: all 0.3s;
    cursor: default;
  }
}
.contactSVG {
  display: none;

  @media (min-width: 768px) {
    grid-area: logo;
    display: unset;
  }
}
.watermark_1 {
  font-size: 6.5em;
  margin: -7em;
  position: absolute;
  color: #202020;
  z-index: 0;

  @media (min-width: 768px) {
    font-size: 10em;
    margin: -2em 0.2em;
    z-index: 0;
  }
}

//About
.about {
  background-color: var(--color-dark);
  position: relative;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-areas: 'bio skill';
  }

  .bio-container {
    margin: 1em;
    z-index: 3;

    @media (min-width: 1024px) {
      grid-area: bio;
    }

    .about-title {
      margin: -13em 4em;
      position: absolute;
      font-size: 2em;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: var(--font-color);
      -webkit-text-stroke-width: 1.2px;
      letter-spacing: 3px;
      font-family: Poppins-Bold;
      cursor: default;
      z-index: 0;

      @media (min-width: 768px) {
        margin: -11.6em 0em 0em 18em;
      }
    }

    .underline {
      border-bottom: 2px var(--color-third) solid;
      width: 68%;
      margin: 1.5em;
    }

    p {
      margin: 1em 1.5em;
      letter-spacing: 1px;
      font-size: 1em;
    }
    .bubbles {
      display: block;
      width: 14em;
      z-index: 9;
    }
    span {
      justify-content: flex-end;
      display: flex;
      margin-right: 3em;
      font-size: 0.8em;
    }
  }
  .skill {
    display: none;

    @media (min-width: 1024px) {
      display: unset;
      grid-area: skill;
      margin: 13em auto 0em auto;
    }
  }
}
.watermark_2 {
  font-size: 6.5em;
  margin: -2em 1.2em;
  position: absolute;
  color: #202020;
  z-index: -1;

  @media (min-width: 768px) {
    font-size: 10em;
    margin: -1.3em 1.9em;
    z-index: -1;
  }
}
//Footer
.footer {
  height: fit-content;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-alt);
  margin-top: 3em;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  a {
    border-bottom: solid 1px var(--color-primary);
    color: var(--color-primary);
  }
  .btn {
    margin: 2em auto;
    padding: 0.5em 1.5em;
    color: var(--font-color);
    background-color: var(--color-primary);
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.2);
    }
  }
}
