:root {
  --color-primary: #117dac;
  --color-secondary: #ed1c24;
  --color-third: #ea8522;
  --color-four: #20c20e;
  --color-five: #ffd400;

  --color-dark: #181818;
  --color-dark-alt: #2a2a36;
  --color-dark-shade: #434343;

  --font-color: #e6e6e6;

  --twitter: #2ca6df;
  --linkedin: #0077b5;
  --github: #ea8522;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/fonts/Poppins-Bold.ttf');
  font-style: medium;
  font-weight: bold;
  font-display: swap;
}
