---
import Container from "@components/container.astro";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import SectionStat from "@components/sectionStat.astro";
import CertBanner from "@components/certbanner.tsx";
import bachelors from "../assets/pittsburgh_panthers_logo_secondary_20199698.png";
import masters from "../assets/penn_state_football.png";
import Card from "@components/card.astro";
import About from "@components/about.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <div class="flex justify-evenly cursor-default">
      <SectionStat stat="+6500" label="Commits" />
      <SectionStat stat="+600" label="PRs" />
      <SectionStat stat="> 25" label="Projects" />
    </div>
    <div class="my-36">
      <CertBanner />
    </div>
    <About />
    <div class="space-y-20 -mt-20">
      <Card
        sourced={bachelors}
        altText="H2P - Pitt Panthers"
        title="Bachelors of Science in Business Administration"
        message="Graduate of 2020"
      />
      <Card
        sourced={masters}
        altText="WE ARE ... PENN STATE"
        title="Graduate Certificate in Software Design and Architecture"
        message="Expected Graduation Date 2025"
      />
    </div>
  </Container>
</Layout>
