---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Portfolio",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
];


---

<Container class="mb-32">
  <header class="bg-white flex flex-col lg:flex-row justify-between items-center py-3 fixed top-0 left-0 px-5 w-full z-50 transition-all duration-300 navbar">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><svg
            class="h-16 w-16"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 576 576"
            ><defs
              ><style>
                .cls-1 {
                  fill: none;
                }
                .cls-2 {
                  isolation: isolate;
                }
                .cls-3 {
                  mix-blend-mode: hue;
                }
                .cls-4 {
                  fill: #007dac;
                }
                .cls-5 {
                  clip-path: url(#clip-path);
                }
                .cls-6 {
                  fill: #f68b1f;
                }
                .cls-7 {
                  fill: #5c2d91;
                }
                .cls-8 {
                  fill: #bb0062;
                }
                .cls-9 {
                  fill: #9e0763;
                }
                .cls-10 {
                  fill: #ffd400;
                }
                .cls-11 {
                  fill: #ed1c24;
                }
              </style><clipPath id="clip-path"
                ><path
                  class="cls-1"
                  d="M132.19,362.06c1.15,37.17-3.43,92.64,50.33,92.64,56,0,59.47-48,59.47-98.36V77.27H294.6V387.79c0,22.3-.57,110.94-113.8,110.94-22.88,0-66.91-8-86.92-40.6-16.59-27.45-16.59-62.9-16.59-96.07Z"
                ></path></clipPath
              ></defs
            ><g class="cls-2"
              ><g id="Layer_1" data-name="Layer 1"
                ><g class="cls-3"
                  ><path
                    class="cls-4"
                    d="M233.25,490.16l12.77-142L241.94,77.28H376.33c57.18,0,76.63,19.44,92.07,42.31,14.29,22.31,16.58,46.9,16.58,54.9,0,51.47-17.73,85.78-70.91,97.79v2.86c58.9,6.86,84.64,42.32,84.64,98.93,0,105.8-77.2,116.09-124.1,116.09Zm61.3-239h76.63c41.17-.57,61.19-25.73,61.19-65.76,0-34.31-19.44-62.33-63.48-62.33H294.55Zm0,193.3h74.34c56.05,0,76.06-40,76.06-70.35,0-65.76-40.6-77.2-94.36-77.2h-56Z"
                  ></path></g
                ><g class="cls-5"
                  ><polygon
                    class="cls-6"
                    points="240.2 75.55 296.8 146.44 296.8 75.44 240.2 75.55"
                  ></polygon><polygon
                    class="cls-4"
                    points="297.26 146.44 240.73 177.34 240.66 75.55 297.26 146.44"
                  ></polygon><polygon
                    class="cls-7"
                    points="296.8 146.44 297.26 255.08 239.63 177.34 296.8 146.44"
                  ></polygon><polygon
                    class="cls-8"
                    points="239.63 229.93 296.17 253.6 239.63 177.34 239.63 229.93"
                  ></polygon><polygon
                    class="cls-9"
                    points="240.66 332.97 272.21 243.11 240.73 229.93 240.66 332.97"
                  ></polygon><polygon
                    class="cls-10"
                    points="297.26 253.6 297.26 332.97 272.21 243.11 297.26 253.6"
                  ></polygon><polygon
                    class="cls-11"
                    points="240.4 332.73 296.94 332.73 272.21 243.03 240.4 332.73"
                  ></polygon><polygon
                    class="cls-6"
                    points="240.87 332.24 297.48 403.12 297.48 332.12 240.87 332.24"
                  ></polygon><polygon
                    class="cls-4"
                    points="297.94 403.12 241.4 434.02 241.33 332.24 297.94 403.12"
                  ></polygon><polygon
                    class="cls-7"
                    points="297.48 403.12 297.48 510.28 240.94 434.02 297.48 403.12"
                  ></polygon><polygon
                    class="cls-8"
                    points="227.31 468.16 221.23 407.17 277.6 483.56 227.31 468.16"
                  ></polygon><polygon
                    class="cls-9"
                    points="283.62 512.63 203.35 461.36 182.05 500.84 283.62 512.63"
                  ></polygon><polygon
                    class="cls-10"
                    points="277.76 483.69 201.86 460.45 280.46 510.71 277.76 483.69"
                  ></polygon><polygon
                    class="cls-11"
                    points="227.76 468.35 223.89 411.94 136.09 442.75 227.76 468.35"
                  ></polygon><polygon
                    class="cls-6"
                    points="184.9 363.67 241.51 434.55 241.51 363.55 184.9 363.67"
                  ></polygon><polygon
                    class="cls-4"
                    points="203.83 461.69 176.04 519.82 116.45 437.31 203.83 461.69"
                  ></polygon><polygon
                    class="cls-7"
                    points="135.44 360.13 84.17 454.23 71.01 360.21 135.44 360.13"
                  ></polygon><polygon
                    class="cls-6"
                    points="68.3 472.52 161.03 498.37 116.46 437.28 68.3 472.52"
                  ></polygon><polygon
                    class="cls-10"
                    points="95.89 432.74 133.82 363.02 112.96 454.09 95.89 432.74"
                  ></polygon><polygon
                    class="cls-11"
                    points="112.94 454.07 95.86 432.73 104.52 493.06 112.94 454.07"
                  ></polygon><polygon
                    class="cls-9"
                    points="138.03 344.57 116.8 437.4 136.09 442.75 138.03 344.57"
                  ></polygon><polygon
                    class="cls-7"
                    points="136.09 442.75 136.73 409.57 161.32 449.83 136.09 442.75"
                  ></polygon><polygon
                    class="cls-9"
                    points="95.86 432.73 85.02 452.68 101.27 469.71 95.86 432.73"
                  ></polygon></g
                ></g
              ></g
            ></svg
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                <!--{item.children && (-->
                <!--  <Dropdown-->
                <!--    title={item.title}-->
                <!--    children={item.children}-->
                <!--    lastItem={index === menuitems.length - 1}-->
                <!--  />-->
                <!--)}-->

                {!item?.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 nav-link" >
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
<!--        <div class="lg:hidden flex items-center mt-3 gap-4">-->
<!--          <Link href="https://thegenoa.cc/quote" size="md" rel="noopener"-->
<!--target="_blank" block>Get A Quote</Link>-->
<!--        </div>-->
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="https://thegenoa.cc/quote" size="md" rel="noopener"
target="_blank">Get A Quote</Link>
      </div>
    </div>
  </header>
</Container>

<script>

const navbar = document.querySelector('.navbar');
let prevScrollPos = window.scrollY;

window.onscroll = function() {
  const currentScrollPos = window.scrollY;
  if (prevScrollPos > currentScrollPos) {
    navbar.classList.remove('opacity-0');
  } else {
    navbar.classList.add('opacity-0');
  }
  prevScrollPos = currentScrollPos;
};

const navLinks = document.querySelectorAll('.nav-link');
const currentPath = window.location.pathname;

navLinks.forEach(link => {
  const linkPath = link.getAttribute('href');
  if (linkPath === currentPath) {
    link.classList.add('active');
  } else {
    link.classList.remove('active'); // Remove the active class from other links
  }
});

  
</script>


<style>

.nav-link {
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link a {
  /* Other styles for the anchor tag */
}

.nav-link::after {
  @screen md { /* Adjust breakpoint as needed */
    content: none !important;
  }
  content: '';
  position: absolute;
  bottom: -4px;
  left: 3;
  width: 60%;
  height: 2px;
  background: grey;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}

</style>
