<section>
  <h3 class="text-4xl font-bold">&#128075; Hello &#128075;</h3>

  <p
    class="w-full sm:w-1/2 mt-20 tracking-wide font-sans text-lg leading-relaxed">
    If you're here, you're probably curious about who I am. I'm a problem solver
    and I empower others to bring their visions to life. I am passionate for
    building innovative tech alongside great people. As an ENFJ (with a knack
    for thinking too), I love trying new things, experimenting, and spending
    time with friends and family. I'm a proud husband to the best wife ever, a
    software engineer and architect, and an investor. When I'm not coding, you
    might find me snowboarding, hiking, golfing, or sailing. Let's connect on
    LinkedIn or X and see if we can create the next big thing together.
  </p>
</section>
