<footer class="bg-black text-white py-8 mt-12">
  <div
    class="container mx-auto px-2 flex flex-col md:flex-row justify-between items-center">
    <div class="text-center md:text-left mb-4 md:mb-0 cursor-default">
      <p class="text-sm">Copyright © ME {new Date().getFullYear()}</p>
      <p class="text-sm">All rights reserved.</p>
    </div>

    <p>Built with Astro and &#127790</p>

    <div class="flex items-center space-x-4">
      <a
        href="https://www.linkedin.com/in/burgess-josh/"
        target="_blank"
        rel="noopener"
        class="text-white hover:text-gray-300">LinkedIn</a
      >
      <a
        href="https://github.com/joshbrgs"
        target="_blank"
        rel="noopener"
        class="text-white hover:text-gray-300">GitHub</a
      >
      <a
        href="https://x.com/joshtheburgess"
        target="_blank"
        rel="noopener"
        class="text-white hover:text-gray-300">X</a
      >
    </div>
  </div>
</footer>
