---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import LottieAnimation from "@components/LottieAnimation.tsx";
import animationData from "assets/eyboard.json";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <LottieAnimation
      client:only
      animationData={animationData}
      style={{ width: "600px", height: "450px" }}
    />
  </div>
  <div class="cursor-default">
    <span
      class="outlined-text text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
      >Hi I'm</span
    >
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Josh Burgess
    </h1>
    <p class="desc text-lg mt-4 text-slate-600 max-w-xl">
      Software Engineer, Architect, and Cloud Developer who enjoys building new
      features, products, and creating solutions for business problems.
    </p>
    <div class="links mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://thegenoa.cc"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <!--<Icon class="text-white w-5 h-5" name="bx:bxs-mail" />-->

        Portfolio
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/joshbrgs"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub
      </Link>
    </div>
  </div>
</main>

<style>
  span.outlined-text {
    /*-webkit-text-stroke: 1px black;*/
    color: white;
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .shadower {
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    gsap.from(".outlined-text", {
      duration: 1,
      y: -50,
      opacity: 0,
      ease: "power2.out",
    });
    gsap.from("h1", {
      duration: 1,
      y: 50,
      opacity: 0,
      ease: "power2.out",
      delay: 0.5,
    });
    gsap.from(".desc ", {
      duration: 1,
      y: 50,
      opacity: 0,
      ease: "power2.out",
      delay: 1,
    });
    gsap.from(".links ", {
      duration: 1,
      y: 50,
      opacity: 0,
      ease: "power2.out",
      delay: 1.5,
      stagger: 0.2,
    });
  });
</script>
