---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { MediumArticles } from "medium-article-api";

interface MediumBlog {
  title: string;
  pubDate: string;
  categories: string[];
  description: string;
}

export async function getStaticPaths() {
  const mediumArticles = MediumArticles();
  const username = "burgessj247";

  const articles = await mediumArticles.getData(username);

  return (
    articles.status === "ok" &&
    articles.items.map((entry: MediumBlog) => ({
      params: { slug: entry.title },
      props: { entry },
    }))
  );
}

const { entry }: { entry: MediumBlog } = Astro.props;
---

<BaseLayout>
  <h1>{entry.title}</h1>
  <p>{entry.pubDate}</p>
  {entry.categories.map((tag) => <p>{tag}</p>)}
  <Fragment set:html={entry.description} />
</BaseLayout>
